node_modules/
**/node_modules/

.env
*.log

storage/*.json
magic-link-main/storage/*.json

dist/
**/dist/
build/
**/build/
.gradle/
**/.gradle/

*.apk
*.aab

.expo/
**/.expo/

local.properties
**/local.properties
